/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Header & Title */
.main-header {
	height: 120px;
	background-image: linear-gradient(to right, #1E5A94 , #22955F);
}

.main-header h1 {
	color: #fff;
    margin: 0 auto;
    font-size: 2.3rem;
	line-height: 3.0;
	font-weight: bold;
}

.title-fav {
	color: #23995C;
	font-size: 1.4rem;
	margin-bottom: 2%;
}

p.waste-list-result-number {
    text-align: center;
    font-size: 1.1rem;
	color: #8a8a8a;
	margin-top: 4%;
}

/* Search */
.search-input {
  	border: 2px solid #AAAAAA;
}

.search-input:focus {
	box-shadow: none;
	border: 2px solid #AAAAAA;
}

.search-button {
	cursor: pointer;
	background-color: #23995C;
	color: #fff;
	height: 38px;
	width: 38px;
	text-align: center;
	font-size: 1.3rem;
	line-height: 1.8;
	border-radius: 4px;
	transition: .2s background-color;
}

.search-button:hover {
	background-color: #1e7f4d;
}

/* Waste List Component */
.waste-list-wrapper {
    background-color: #fbfbfb;
    padding: 3% 5%;
    min-height: 50vh;
}

.waste-list {
	color: #333333;
	font-size: 1.2rem;
	line-height: 1.1;
}

.waste-list-fav-icon {
	color: #AAAAAA;
	cursor: pointer;
}

.waste-list-fav-icon-filled {
	color: #23995C;
	cursor: pointer;
}